.frame {
  background-color: rgb(182, 211, 255);
  color: white;
  display: inline-flex;
  width: 100%;
  height: 120px;
  margin-top: 50px;
}

.frame p {
  font-size: 60px;
  margin-left: 100px;
}

.anchor {
  margin-left: 550px;
  margin-top: 50px;
}
.anchor a {
  margin-right: 30px;
}
